.wrap-container {
  position: relative;
  display: inline-block;
  outline: none;
}

.input-style {
  position: relative;
  outline: none;

  &:focus {
    box-shadow: 0 0 2px 3px #efeff5;
  }
}

.display-container {
  position: absolute;
  left: 0;
  width: 250px;
  max-height: 400px;
  background: white;
  padding: 0;
  overflow: auto;
  margin: 5px 0;
  outline: none;
  box-shadow: 0 0 2px 3px #efeff5;
}

.hide-myself {
  visibility: hidden;
  overflow: hidden;
}

.show-myself {
  visibility: visible;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  outline: none;

  &:focus {

    > div {
      color: red;

      &:nth-child(2) {
        visibility: visible;
        cursor: pointer;
      }
    }    
  }
}

.history-li {

  > div {

    &:first-child {
      background-color: #ccf2ff;

      &:hover {
        background-color: #ffffcc;
      }
    }
  }
}

.logo-name-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 100%;
  padding: 0 5px;

  &:hover {
    background-color: #ffffcc;
    color: red;

    + .history-item {
      visibility: visible;
      cursor: pointer;
      color: red;
      background-color: white;
    } 
  }
}

.app-img {
  width: 28px;
  height: 28px;
  margin-right: 3px;
}

.app-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history-item {
  visibility: hidden;
  font-size: 14px;
  text-align: center;

  &:hover {
    visibility: visible;
    cursor: pointer;
    color: red;
  }
}

